/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    padding: 1rem;
    background-color: var(--Cream);
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root {
    /* Primary colours */
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);

    /* Neutral colours */
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);

    /* Fonts */
    --heading-font: 'Fraunces', serif;
    --body-font: 'Montserrat', sans-serif;
}

.img-mobile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* display: grid;           
    grid-template-columns: 1fr 1fr;  */
    border: 1px solid red;
    border-radius: 10px;
    background-color: var(--White);
}

.img-desktop {
    display: none; /* Makes sure the desktop image doesn't display on mobile view */
}

.text-box {
    padding: 1rem;
}

