/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    text-decoration: none;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    padding: 1rem;
    background-color: var(--Cream);
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root {
    /* Primary colours */
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);

    /* Neutral colours */
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);

    /* Fonts */
    --heading-font: 'Fraunces', serif;
    --body-font: 'Montserrat', sans-serif;
}

.img-mobile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* display: grid;           
    grid-template-columns: 1fr 1fr;  */
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: var(--White);
}

.img-desktop {
    display: none; /* Makes sure the desktop image doesn't display on mobile view */
}

.img-mobile {
    display: display; 
}

.text-box {
    padding: 1.2rem 1rem;
    /* border: 1px solid green; */
}

.perfume {
    font-family: var(--body-font);
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: .875rem;
}

.head-text {
    font-family: var(--heading-font);
    line-height: 1;
    padding-block: 1rem;
}

.paragraph{
    font-family: var(--body-font);
    line-height: 1.8;
}

.price {
    padding-block: .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.h1-price {
    font-family: var(--heading-font);
    color: var(--Green-500);
}

.h1-price-small {
    font-family: var(--heading-font);
    font-size: .875rem;
    font-weight: 500;
    text-decoration: line-through;
}

button {
    border: none;
    width: 100%;   
    padding: 15px 20px;
    background-color: var(--Green-500);
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: .7rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s ease;
}

button:hover {
    background-color: var(--Green-700);
}

.button-text {
    font-family: var(--body-font);
    font-weight: 600;
}

/* Media query */

@media (min-width:1440px) and (max-width: 4000px) {
    .main-div {
        /* display: block; */
        flex-direction: row;
    }
    
}